OperacionesMatematicas/TareaWS_Cliente/xml-resources/web-service-references/WS_Operaciones/wsdl/localhost_8084/TareaWS_Operaciones/WS_Operaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WS_Operaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8084/TareaWS_Operaciones/WS_Operaciones?xsd=1" />
</xsd:schema>
</types>
<message name="mediana">
<part name="parameters" element="tns:mediana" />
</message>
<message name="medianaResponse">
<part name="parameters" element="tns:medianaResponse" />
</message>
<message name="dividir">
<part name="parameters" element="tns:dividir" />
</message>
<message name="dividirResponse">
<part name="parameters" element="tns:dividirResponse" />
</message>
<message name="restar">
<part name="parameters" element="tns:restar" />
</message>
<message name="restarResponse">
<part name="parameters" element="tns:restarResponse" />
</message>
<message name="multiplicar">
<part name="parameters" element="tns:multiplicar" />
</message>
<message name="multiplicarResponse">
<part name="parameters" element="tns:multiplicarResponse" />
</message>
<message name="sumar">
<part name="parameters" element="tns:sumar" />
</message>
<message name="sumarResponse">
<part name="parameters" element="tns:sumarResponse" />
</message>
<message name="desvEstandar">
<part name="parameters" element="tns:desvEstandar" />
</message>
<message name="desvEstandarResponse">
<part name="parameters" element="tns:desvEstandarResponse" />
</message>
<message name="desvMedia">
<part name="parameters" element="tns:desvMedia" />
</message>
<message name="desvMediaResponse">
<part name="parameters" element="tns:desvMediaResponse" />
</message>
<message name="promedio">
<part name="parameters" element="tns:promedio" />
</message>
<message name="promedioResponse">
<part name="parameters" element="tns:promedioResponse" />
</message>
<message name="fibonacci">
<part name="parameters" element="tns:fibonacci" />
</message>
<message name="fibonacciResponse">
<part name="parameters" element="tns:fibonacciResponse" />
</message>
<message name="factorial">
<part name="parameters" element="tns:factorial" />
</message>
<message name="factorialResponse">
<part name="parameters" element="tns:factorialResponse" />
</message>
<portType name="WS_Operaciones">
<operation name="mediana">
<input wsam:Action="http://ws/WS_Operaciones/medianaRequest" message="tns:mediana" />
<output wsam:Action="http://ws/WS_Operaciones/medianaResponse" message="tns:medianaResponse" />
</operation>
<operation name="dividir">
<input wsam:Action="http://ws/WS_Operaciones/dividirRequest" message="tns:dividir" />
<output wsam:Action="http://ws/WS_Operaciones/dividirResponse" message="tns:dividirResponse" />
</operation>
<operation name="restar">
<input wsam:Action="http://ws/WS_Operaciones/restarRequest" message="tns:restar" />
<output wsam:Action="http://ws/WS_Operaciones/restarResponse" message="tns:restarResponse" />
</operation>
<operation name="multiplicar">
<input wsam:Action="http://ws/WS_Operaciones/multiplicarRequest" message="tns:multiplicar" />
<output wsam:Action="http://ws/WS_Operaciones/multiplicarResponse" message="tns:multiplicarResponse" />
</operation>
<operation name="sumar">
<input wsam:Action="http://ws/WS_Operaciones/sumarRequest" message="tns:sumar" />
<output wsam:Action="http://ws/WS_Operaciones/sumarResponse" message="tns:sumarResponse" />
</operation>
<operation name="desvEstandar">
<input wsam:Action="http://ws/WS_Operaciones/desvEstandarRequest" message="tns:desvEstandar" />
<output wsam:Action="http://ws/WS_Operaciones/desvEstandarResponse" message="tns:desvEstandarResponse" />
</operation>
<operation name="desvMedia">
<input wsam:Action="http://ws/WS_Operaciones/desvMediaRequest" message="tns:desvMedia" />
<output wsam:Action="http://ws/WS_Operaciones/desvMediaResponse" message="tns:desvMediaResponse" />
</operation>
<operation name="promedio">
<input wsam:Action="http://ws/WS_Operaciones/promedioRequest" message="tns:promedio" />
<output wsam:Action="http://ws/WS_Operaciones/promedioResponse" message="tns:promedioResponse" />
</operation>
<operation name="fibonacci">
<input wsam:Action="http://ws/WS_Operaciones/fibonacciRequest" message="tns:fibonacci" />
<output wsam:Action="http://ws/WS_Operaciones/fibonacciResponse" message="tns:fibonacciResponse" />
</operation>
<operation name="factorial">
<input wsam:Action="http://ws/WS_Operaciones/factorialRequest" message="tns:factorial" />
<output wsam:Action="http://ws/WS_Operaciones/factorialResponse" message="tns:factorialResponse" />
</operation>
</portType>
<binding name="WS_OperacionesPortBinding" type="tns:WS_Operaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="mediana">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dividir">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="restar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="multiplicar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="sumar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="desvEstandar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="desvMedia">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="promedio">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="fibonacci">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="factorial">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WS_Operaciones">
<port name="WS_OperacionesPort" binding="tns:WS_OperacionesPortBinding">
<soap:address location="http://localhost:8084/TareaWS_Operaciones/WS_Operaciones" />
</port>
</service>
</definitions>